<form novalidate [formGroup]="question()" class="form">
  <mat-form-field appearance="outline" class="form-input">
    <mat-label>Question Title</mat-label>
    <input matInput placeholder="Question Title" formControlName="label" required>
    @if (question().get('label')?.invalid) {
    <mat-error>Please enter Question Title</mat-error>
    }
  </mat-form-field>

  <div class="options" formArrayName="options">
    @for (item of Options.controls; track $index) {
    <mat-form-field appearance="outline" class="form-input" [formGroupName]="$index">
      <mat-label>Option Title</mat-label>
      <input matInput placeholder="Option Title" formControlName="text" required>
      @if (item.get('text')?.invalid) {
      <mat-error>Please enter Option Title</mat-error>
      }
    </mat-form-field>
    <mat-icon class="mat-18">device_hub</mat-icon>
    }
  </div>
  <button type="button" (click)="addOption()" mat-button class="btn btn-add__option">Add Option</button>
</form>
