<div class="filter">
  <div class="search">
    <svg class="search__icon icon">
      <use xlink:href="../../../assets/icons/sprite.svg#icon-search1"></use>
    </svg>
    <input type="text" name="search" id="search" class="search__box" [formControl]="searchBox">
  </div>
  <div class="sort">
    <div class="sort__icons" (click)="showOptions = !showOptions">
      <span>&uarr;</span>
      <svg class="icon">
        <use xlink:href="../../../assets/icons/sprite.svg#icon-bar-chart"></use>
      </svg>
    </div>

    @if (showOptions) {
      <div class="sort__options">
        <div class="sort__items" (click)="updateOrder('asc')">Ascending</div>
        <hr>
        <div class="sort__items" (click)="updateOrder('des')">Descending</div>
      </div>
    }
  </div>
</div>
