.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .search {
    display: flex;
    align-items: center;
    position: relative;

    &__box {
      padding: 0.6rem 1rem;
      padding-left: 3rem;
      border-radius: 2rem;
      border: none;
      outline: none;
      background-color: var(--bs-gray-200);
    }

    &__icon {
      position: absolute;
      left: 1rem;
    }
  }

  .sort {
    padding: 0.6rem 1rem;
    border: none;
    outline: none;
    background-color: var(--bs-gray-200);
    position: relative;
    cursor: pointer;

    &__icons {
      display: flex;
      align-items: center;
    }
    &__options {
      position: absolute;
      top: 105%;
      right: 0;
    }
    &__items {
      padding: 0.6rem 1rem;
      background-color: var(--bs-gray-200);
    }
  }
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
  fill: black;
}
