.question {
  border: 1px solid #4f4f4f;
  border-top: .3rem solid #4f4f4f;
  border-bottom: 2rem solid #4f4f4f;
  border-radius: .3rem;
  padding: 0 1rem 1rem;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      font-size: 1.2rem;
      margin-right: auto;
    }
  }

  // &-footer {
  //   background-color: #4f4f4f;
  //   padding: 1rem;
  // }
}
