<form novalidate [formGroup]="question()" class="form">
  @if (question().get('multiline')?.value) {
  <mat-form-field appearance="outline" class="form-input">
    <mat-label>Question Title</mat-label>
    <textarea matInput placeholder="Question Title" formControlName="label" required></textarea>
    @if (question().get('label')?.invalid) {
    <mat-error>Please enter Question Title</mat-error>
    }
  </mat-form-field>
  } @else {
  <mat-form-field appearance="outline" class="form-input">
    <mat-label>Question Title</mat-label>
    <input matInput placeholder="Question Title" formControlName="label" required>
    @if (question().get('label')?.invalid) {
    <mat-error>Please enter Question Title</mat-error>
    }
  </mat-form-field>
  }
  <mat-checkbox formControlName="multiline" class="form-input">Multi Line</mat-checkbox>
</form>
